---
import Section from "./Section.astro";
import Paragraph from "../typography/body/Paragraph.astro";
import PageSubtitle from "../molecules/PageSubtitle.astro";
import Button from "../atoms/Button.astro";

const BLOG_POSTS = [
  {
    date: "15 de Abril, 2026",
    readingTime: "5 min de lectura",
    title: "5 Técnicas de Mindfulness para Reducir la Ansiedad Diaria",
    tag: "Mindfulness",
    description:
      "Descubre prácticas simples respaldadas por la ciencia que puedes usar en cualquier lugar para calmar tu mente y recuperar el control cuando el estrés se siente abrumador.",
    image: "/src/assets/image/blog/blog-post-1.jpg",
    link: "/blog/como-la-terapia-puede-transformar-tu-vida",
  },
  {
    date: "10 de Marzo, 2026",
    readingTime: "7 min de lectura",
    title: "Cómo el Journaling Puede Transformar tu Salud Mental",
    tag: "Journaling",
    description:
      "Explora cómo la terapia puede ayudarte a superar desafíos emocionales, mejorar tus relaciones y encontrar un mayor sentido de propósito y bienestar en tu vida.",
    image: "/src/assets/image/blog/blog-post-2.jpg",
    link: "/blog/como-la-terapia-puede-transformar-tu-vida",
  },
  {
    date: "20 de Enero, 2026",
    readingTime: "6 min de lectura",
    title: "5 Estrategias para Mejorar tu Autoestima",
    tag: "Autoestima",
    description:
      "Aprende técnicas prácticas para fortalecer tu autoestima, desde cambiar tu diálogo interno hasta establecer límites saludables y celebrar tus logros.",
    image: "/src/assets/image/blog/blog-post-3.jpg",
    link: "/blog/como-la-terapia-puede-transformar-tu-vida",
  },
];
---

<Section>
  <div class="flex flex-col max-w-[1280px] gap-16">
    <PageSubtitle
      lead="Mi Blog Personal"
      heading="Últimas"
      body="Orientación experta y consejos prácticos para apoyar tu camino de salud mental"
      align="center"
      highlight="Perspectivas"
    />
    <div class="blog-section">
      {
        BLOG_POSTS.map((post) => (
          <a href={post.link} class="blog-card">
            <div class="blog-card-image relative w-full flex-1">
              <div class="blog-label">
                <span>{post.tag}</span>
              </div>
              <img src={post.image} alt={post.title} class="blog-card-image" />
            </div>
            <div class="blog-card-content flex-1">
              <div class="flex gap-4">
                <div class="blog-tag">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <path
                      d="M5.33301 1.3335V4.00016"
                      stroke="#2F3239"
                      stroke-width="1.33333"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M10.667 1.3335V4.00016"
                      stroke="#2F3239"
                      stroke-width="1.33333"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M12.6667 2.6665H3.33333C2.59695 2.6665 2 3.26346 2 3.99984V13.3332C2 14.0696 2.59695 14.6665 3.33333 14.6665H12.6667C13.403 14.6665 14 14.0696 14 13.3332V3.99984C14 3.26346 13.403 2.6665 12.6667 2.6665Z"
                      stroke="#2F3239"
                      stroke-width="1.33333"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M2 6.6665H14"
                      stroke="#2F3239"
                      stroke-width="1.33333"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <p>{post.date}</p>
                </div>
                <div class="blog-tag">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_242_5162)">
                      <path
                        d="M7.99967 14.6668C11.6816 14.6668 14.6663 11.6821 14.6663 8.00016C14.6663 4.31826 11.6816 1.3335 7.99967 1.3335C4.31778 1.3335 1.33301 4.31826 1.33301 8.00016C1.33301 11.6821 4.31778 14.6668 7.99967 14.6668Z"
                        stroke="#2F3239"
                        stroke-width="1.33333"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8 4V8L10.6667 9.33333"
                        stroke="#2F3239"
                        stroke-width="1.33333"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_242_5162">
                        <rect width="16" height="16" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <p>{post.readingTime}</p>
                </div>
              </div>
              <div>
                <p class="blog-card-title">{post.title}</p>
                <p class="blog-card-description">{post.description}</p>
              </div>

              <Paragraph
                size="md"
                text={"Leer más"}
                color="text-primary-500"
                weight="semibold"
              />
            </div>
          </a>
        ))
      }
    </div>
  </div>
  <div class="flex justify-center">
    <Button label="Ver Todos los Artículos" size="lg" />
  </div>
</Section>

<style>
  .blog-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: stretch;
    gap: var(--spacing-900, 36px);
  }

  .blog-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: var(--border-radius-3xl, 24px);
    border: 3px solid transparent;
    background: var(--surface-glass, rgba(16, 24, 40, 0.03));
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }

  .blog-card:first-child {
    grid-column: 1 / -1;
    flex-direction: row;
  }

  .blog-card:first-child .blog-card-image img {
    height: 100%;
  }

  .blog-card:first-child .blog-card-content {
    padding: var(--spacing-1200, 32px);
  }

  @media (max-width: 1024px) {
    .blog-section {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .blog-card:first-child {
      grid-column: 1 / -1;
    }
  }

  @media (max-width: 768px) {
    .blog-section {
      grid-template-columns: 1fr;
    }

    .blog-card:first-child {
      grid-column: auto;
    }
  }

  .blog-card:hover {
    transform: scale(1.04);
    border: 3px solid var(--color-primary-400);
  }

  .blog-card-image {
    flex: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-height: 370px;
    background: red;
  }

  .blog-card-content {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-600, 24px);
    gap: var(--spacing-600, 12px);
  }

  .blog-card-title {
    color: var(--text-on-disable, #2f3239);
    font-size: var(--fontsize-heading-md, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--line-height-heading-md, 28px); /* 140% */
  }

  .blog-card:first-child .blog-card-title {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: var(--text-headings, #1a212e);
    font-size: var(--fontsize-heading-h4, 32px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--line-height-heading-h4, 40px); /* 125% */
  }

  .blog-tag {
    display: flex;
    padding: var(--spacing-200, 4px) var(--spacing-400, 8px);
    align-items: center;
    gap: 8px;
    border-radius: var(--border-radius-lg, 8px);
    background: var(--surface-primary, #ebebeb);
  }

  .blog-tag p {
    color: var(--text-on-disable, #2f3239);
    font-size: var(--fontsize-body-sm, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-body-sm, 20px); /* 166.667% */
  }

  .blog-label {
    position: absolute;
    top: var(--spacing-400);
    left: var(--spacing-400);
    display: flex;
    padding: 13px 21px;
    align-items: center;
    gap: 8px;
    border-radius: 33554400px;
    background: var(--surface-error, #fbd9d9);
    box-shadow: 0 10px 15px -3px rgba(150, 50, 57, 0.1);
    width: fit-content;
  }

  .blog-label span {
    color: var(--text-error, #c23b3e);
    font-size: var(--fontsize-body-md, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-body-md, 24px); /* 150% */
  }
</style>
