---
import LeadText from "../typography/specials/LeadText.astro";
import Heading1 from "../typography/headings/Heading1.astro";
import Paragraph from "../typography/body/Paragraph.astro";

const { lead, heading, highlight, body, align } = Astro.props;
---

<div class=`flex flex-col gap-4 justify-center z-10`>
  <div class=`flex justify-${align}`>
    <LeadText text={lead} align={align} />
  </div>
  <div>
    <Heading1 text={heading} align={align} highlight={highlight} />
  </div>
  <Paragraph size="lg" text={body} align={align} weight="light" />
</div>
