---
export interface TextProps {
  text?: string;
  align?: "left" | "center" | "right";
  size?: "sm" | "md" | "lg";
  weight?: "light" | "regular" | "medium" | "semibold" | "bold";
  color?: string; // Ej: "primary-400"
}

const {
  text = "No setting text",
  align = "left",
  size = "md",
  weight = "regular",
  color = "text-primary-400",
}: TextProps = Astro.props;

// Mapas de clases
const sizeClasses = {
  sm: "text-paragraph-sm leading-paragraph-sm",
  md: "text-paragraph-md leading-paragraph-md",
  lg: "text-paragraph-lg leading-paragraph-lg",
};

const weightClasses = {
  light: "font-light",
  regular: "font-normal",
  medium: "font-medium",
  semibold: "font-semibold",
  bold: "font-bold",
};
---

<p
  class={`${sizeClasses[size]} ${weightClasses[weight]} ${color} whitespace-pre-line text-${align}`}
>
  {text}
</p>

<style>
  p {
    color: var(--color-primary-700);
    background-color: var(--color-primary-100);
    padding: var(--spacing-300) var(--spacing-600);
    border-radius: 999px;
    display: inline-flex;
    width: fit-content;
    font-weight: var(--font-weight-semibold);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
  }
</style>