---
import Image from "astro/components/Image.astro";
import Heading4 from "../../typography/headings/Heading4.astro";
import LeadText from "../../typography/specials/LeadText.astro";
import Paragraph from "../../typography/body/Paragraph.astro";
import Button from "../../atoms/Button.astro";

const {
  title = "Acompañamiento psicológico individual" ,
  lead = "Ideal para quienes buscan claridad emocional.",
  description,
  cta = "Conoce más",
  image = "/services/individual.png",
} = Astro.props;
---

<article
  class="w-full max-w-[950px] mx-auto flex gap-30 odd:flex-row-reverse items-center"
>
  <img src={image} alt="Imagen de psicologia" class="max-h-[350px]" />
  <div class="flex flex-col gap-12 max-w-[500px]">
    <div>
      <Paragraph size="lg" text={title} color="text-neutral-100" />
      <LeadText text={lead} />
      <Paragraph size="md" text={description} />
    </div>
    <div>
      <Button label={cta} variant="outline" size="md" />
    </div>
  </div>
</article>