---
export interface TextProps {
  text?: string;
  align?: "left" | "center" | "right";
  size?: "sm" | "md" | "lg";
  weight?: "light" | "regular" | "medium" | "semibold" | "bold";
  color?: string; // Ej: "primary-400"
  classes?: string;
}

const {
  text = "No setting text",
  align = "left",
  size = "md",
  weight = "regular",
  color = "text-neutral-400",
  classes = "",
}: TextProps = Astro.props;

// Mapas de clases
const sizeClasses = {
  sm: "text-paragraph-sm leading-paragraph-sm",
  md: "text-paragraph-md leading-paragraph-md",
  lg: "text-paragraph-lg leading-paragraph-lg",
};

const weightClasses = {
  extralight: "font-extralight",
  light: "font-light",
  regular: "font-normal",
  medium: "font-medium",
  semibold: "font-semibold",
  bold: "font-bold",
};

---

<p
  class={`${classes} ${sizeClasses[size]} ${weightClasses[weight]} ${color} whitespace-pre-line text-${align}`}
  style="color: var(--text-color-headings)"
>
  {text}
</p>